<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySqlConn" connectionString="server=127.0.0.1;database=datacollect;uid=shenjun;pwd=admin123" providerName="System.Data.SqlClient"/>
    <add name="MyConn"
     connectionString="Server=192.168.1.100\SQL2014;Initial Catalog=HA_0720;User ID=sa;Password=yc123456;Max Pool Size=512;Connection Lifetime=30"
     providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>