<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings> 
    <add name="MyConn" connectionString="Server=172.19.0.5;Initial Catalog=GenYeeMesData;User ID=sa;Password=shfy_server;Max Pool Size = 512;Connection Lifetime=30" providerName="System.Data.SqlClient"/>
    <!--<add name="MyConn"
     connectionString="Server=192.168.1.100\SQL2014;Initial Catalog=HA_0720;User ID=sa;Password=yc123456;Max Pool Size=512;Connection Lifetime=30"
     providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="mailSmtpServer" value="smtp.qq.com" />
    <add key="MailServerFrom" value="179696527@qq.com" />
    <add key="MailPassword" value="arslttkcgcgzcbed" />
    <add key="debugMail" value="" />
    <add key="labelText" value="通毅BIQS系统邮件告警平台" />


   
  </appSettings>
</configuration>
