<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings> 
    <!--<add name="S1" connectionString="Server=.;Initial Catalog=Test;User ID=sa;Password=1;Max Pool Size = 512;Connection Lifetime=30" providerName="System.Data.SqlClient"/>-->
    <add name="MyConn"
     connectionString="Server=192.168.1.100\SQL2014;Initial Catalog=HA_0720;User ID=sa;Password=yc123456;Max Pool Size=512;Connection Lifetime=30"
     providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="mailSmtpServer" value="smtp.qq.com" />
    <add key="MailServerFrom" value="991011509@qq.com" />
    <add key="debugMail" value="" />
  </appSettings>
</configuration>
